*
{
	margin: 0px;
	padding: 0px;
	font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 13px;
}
::-webkit-scrollbar-track {
  background: var(--firstcolor); 
}
::-webkit-scrollbar-thumb {
  background: var(--secondcolor); 
}
::-webkit-scrollbar-thumb:hover {
  background: white; 
}
  
:root
{
	--firstcolor : #181818;
	--secondcolor: white;
}

.light
{
	--firstcolor : white;
	--secondcolor: black;
}
body
{
	background-color: var(--firstcolor) !important ;
	overflow-x: hidden;
}


.active
{
	color:red;
}

.dropbtn
{
	background-color: var(--firstcolor);
	display:inline-flex;
	border : none;
	text-decoration: none;
}

.spacer
{
	height: 8px;
}
.nav
{
	background-color: var(--firstcolor);
	width: 100%;
	height: 60px;
}

.ltitle
{
	font-size: 25px;
	width: 100px;
    color:	var(--secondcolor);
    margin-left: 10px;
 }
.redtitle
{
	font-weight: normal;
	color: red;
}

ul
{	
	list-style: none;
	display: inline-flex;
	float: right;
	font-size: 25.5px;
	padding-top: 8px;
	margin-right: 0px;
}

.about
{
	margin-left:  60px;
	margin-right: -55px;
}
.mode
{
	position: fixed;
	right: 20px;
	bottom: 20px;
	width: 60px;
	height: 60px;
	cursor: pointer;
	border-radius: 50px;
	background-color: white;
	opacity: 50%;
}
.scroll
{
	position: fixed;
	right: 25px;
	bottom: 50%;
	width: 50px;
	height: 50px;
	cursor: pointer;
	border-radius: 50px;
	background-color: white;
	opacity: 30%;
}

.scroll:hover
{
	opacity: 70%;
}
.Home
{
	margin-left: -300px;
}

ul li a
{
	text-decoration: none;
	color : var(--secondcolor);
	margin-left: 7px;
}

ul li a:hover
{
	color: red;

}


.bgcard
{
	margin-top: 2%;
	width: 80%;
	height: 600px;
	float: right;
	border-radius:50px 0px 0px 50px ;
	opacity: 60% !important ;
	transition-duration: 50ms; 
}

.bgcard:hover
{
	width: 80.5%;
	opacity: 80% !important;
}

.bgcard1
{
	margin-top: 3%;
	width: 80%;
	height: 600px;
	float: left;
	border-radius:0px 50px 50px 0px ;
	opacity: 60% !important;
	transition-duration: 300ms; 
}

.bgcard1:hover
{
	width: 80.5% ;
	opacity: 80% !important;
}

.welcometext
{	
	width: 10%;
 	position: absolute;
 	top: 20%;
}
.hi
{
	margin-left: 10px; 
	font-size: 120px;
	color: var(--secondcolor);
	animation-name: typrewriter;
	animation-duration: 1000ms;
}

@keyframes typrewriter
{
	0% {margin-left: -200px ; opacity: 0% }
	100% { margin-left: 10px; opacity: 100% }
}

.name
{	
	margin-left: 10px;
 	position: absolute;
 	top: 42%;
 	width: 90%;
 	animation-name: typrewriter;
	animation-duration: 1000ms;
}
.name:hover
{	
  font-style: italic;
  -webkit-text-fill-color: var(--firstcolor);
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: var(--secondcolor);

}
.pname
{
	font-size: 60px;
	color: var(--secondcolor);

}
.college
{	
	margin-left: 10px;
	width: 90%;
 	position: absolute;
 	top: 55%;
}
.pcollege
{
	font-size: 40px;
	color: var(--secondcolor);
	animation-name: typrewriter;
	animation-duration: 1000ms;
}
.pcname
{
	font-size: 40px;
	color: var(--secondcolor);
	animation-name: typrewriter;
	animation-duration: 1000ms;
}
.redtext
{
	font-weight: normal;
	color: red;
}


.text2
{
	top:900px;
	width: 800px;
	position: absolute;
	height: auto;
}

.eduqual
{
	width: 10%;
	height: auto;
	color: var(--secondcolor);
 	float: right;
}
.edtext
{
	float: right;
	font-size: 75px;
	margin-right: 10px;
}

.hgrad
{	
 	height: auto;
 	float: right;
}

.highestgrad
{
	margin-right: 10px;
	font-size: 55px;
	color: var(--secondcolor);
	float: right;
}

.currgrad
{
	float: right;
	width: auto;
}

.currentgrad
{
	margin-right: 10px;
	float: right;
	font-size: 40px;
	color: var(--secondcolor);
}

.text3
{
	top:1550px;
	width: 800px;
	position: absolute;
	height: auto;
}

.interests
{
	width: 10%;
	height: auto;
	color: var(--secondcolor);
 	float: left;
}
.inttext
{
	margin-left: 10px;
	float: left;
	font-size: 75px;
}

.intdesc
{	
 	height: auto;
 	float: left;
}

.intdesctxt
{
	margin-left: 10px;
	font-size: 33px;
	color: var(--secondcolor);
	float: right;
}

.text4
{
	top:2200px;
	width: 800px;
	position: absolute;
	height: auto;
}

.skills
{
	width: 10%;
	height: auto;
	color: var(--secondcolor);
 	float: right;
}
.skillh
{
	margin-right: 10px;
	float: right;
	font-size: 75px;
}

.skilldesc
{	
	margin-right:10px;
 	height: auto;
 	float: right;
}

.skilldesctxt
{
	font-size: 33px;
	color: var(--secondcolor);
	float: right;
	text-align: right;	

}

.text5
{
	top:2750px;
	width: 800px;
	position: absolute;
	height: auto;
}

.work
{
	width: 10%;
	height: auto;
	color: var(--secondcolor);
 	float: left;
}
.workh
{
	margin-left: 10px;
	float: left;
	font-size: 75px;
}

.workdesc
{	
 	height: auto;
 	float: left;
}

.workdesctxt
{
	margin-left: 10px;
	font-size: 33px;
	color: var(--secondcolor);
	float: left;
}

.footer
{	
	position: absolute;
	background-color: var(--firstcolor); 
	width: 100%;
	height: 200px;
	border-top: solid var(--secondcolor) 1px;
}

.demoindex
{
	height: 3300px;
}

.demo
{
	height: 50px;
}
.cardbg
{
	margin-top: 10px;
	width: auto;
	height: auto;
	background-color: var(--firstcolor);
	opacity: 70%;
	box-shadow: black 0px 5px 5px;
}
.bdy
{
	background-image: url("../images/bg.jpg");
	background-repeat: no-repeat;
}

.workcard
{
	margin-left: 80px;
	margin-bottom: 10px;
	position: relative;
	width: auto;
	height: auto;

}
.workcardphoto
{
	position: relative;
	margin-top: 20px;
	margin-left: 80px;
	margin-bottom: 30px;
	width: auto;
	height: auto;
}
.workcardimg
{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 300px;
	height: 200px;
	border: solid 8px var(--secondcolor);
	box-shadow: var(--secondcolor) 0px 2px 4px 1px;
	animation-name: animate;
	animation-duration: 1s;
	transition-duration: 200ms;

}

.cardtext
{
	position: relative;
	display: flex;
	justify-content: center;
	width: auto;
	height: 50px;
	bottom: 70px;
}

.workcardimg:hover
{
	transform: scale(1.05);
	cursor: pointer;
}

.rw
{
	height: 50px;
}

.rw1
{
	height: 50px;
}

.cardtextediting
{
	position: absolute;
	color: white;
	font-size: 25px;
	animation-name: animate;
	animation-duration: 1s;
}

.cardtextprojects
{
	position: absolute;
	color: black;
	font-size: 25px;
	text-align: center;
	animation-name: animate;
	animation-duration: 1s;
}

.cardtextutube
{
	position: absolute;
	color: white;
	font-size: 25px;
	animation-name: animate;
	animation-duration: 1s;
}

.cardtextphoto
{
	position: absolute;
	color: white;
	font-size: 25px;
	animation-name: animate;
	animation-duration: 1s;

}

.coverim
{
	height: 300px;
}

.proim
{
	width: 200px;
	height: 200px;
	margin-top: -7%;
	border-radius: 100px;
}

.brief
{
	font-size: 30px;
	color: var(--secondcolor)
}

.stryhd
{
	margin-left: 30px;
	font-size: 30px;
	color: var(--secondcolor)
}

.cont
{
	height:  5px;
	width: 42%;
	margin-left: 30px;
	background-color: var(--secondcolor)
}

.pers
{
	color: var(--secondcolor);
	display:inline;
	float: left;
	font-size: 30px;

}

.story
{
	font-size: 70px;
	color: var(--secondcolor);
}

.para
{
	font-size: 30px;
	font-style: italic;
	color: var(--secondcolor);
}
.phone
{

	margin-left: 15px;
	margin-top: 10px;
	font-size: 15px;
}
.ph
{
	text-decoration: none; 
	color: var(--secondcolor)
}
.contact
{
	padding-top: 20px;
	color: var(--secondcolor);
	font-size: 20px;
}

.help
{
	padding-top: 20px;
	color: var(--secondcolor);
	font-size: 25px;
}

.socialfoot
{
	padding-top: 20px;
	color: var(--secondcolor);
	font-size: 25px;
}
.ph:hover
{
	color: red;
}


.fb
{
	margin-top: 20px;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	margin-right: 50px;
	background-color: white;
}

.git
{
	margin-top: 20px;
	width: 30px;
	height: 30px;
	border-radius: 100px;
	background-color: white;
}


.close
{
	position: relative;
	right: 10px;
	top: 10px;
	width: 30px;
	height: 30px;
	float: right;
	cursor: pointer;
	border-radius: 50px;
	background-color: white;
	opacity: 30%;
}

.overlay
{
  position: relative;
  width: 100%;
  height: auto;
  font-size: 50px;
  color: white;
  display: none;
  background-color: var(--firstcolor);
  opacity: 100%;
}
.ovrlyheading
{
	color: var(--secondcolor)
}
.secondheading
{
	font-size: 30px;
	color: var(--secondcolor);
}

.pr1
{
	height: auto;
	margin-left: 10px;
	
}

.projectdesc
{
	font-size: 25px;
	color: var(--secondcolor);
}

.prdesc
{
	margin-left: 20px;
	background-image: url("images/logo.png");
}

.projectimage
{
	height: 500px;
	width: 500px;
}

.instl
{
	font-size: 30px;
}

.spacer2
{
	height: 40px;
	width: 100%;
}
.spacer3
{
	height: 20px;
	width: 100%;
}

.vidcontainer
{
	border: solid var(--secondcolor) 5px;
	width: 1010px;
	height: 610px;
}

#video
{
	border: solid var(--secondcolor) 5px;
}

#video2
{
	border: solid var(--secondcolor) 5px;
}

#video3
{
	border: solid var(--secondcolor) 5px;
}
.gallery
{
	justify-content: space-around;
	margin-top: 30px;
}

.still
{
	margin-left: 30px;
	display: flex;
	justify-content: center;
	height: auto;
	width: auto;
}

.gallimg
{
	border: solid 5px var(--secondcolor);
	width: auto;
	height: 300px;
	transition-duration: 400ms;
}

.gallimg:hover
{
	transform: scale(1.1,1.1);
	cursor: pointer;
}

.galldiv
{
	height: 700px;
	display: flex;
	justify-content: center;
}

.overlay2
{
  width: 500px;
  height: auto;
  font-size: 50px;
  color: white;
  display: none;
   opacity: 100%;
}

.ccright
{
	margin-top:10px;
	position: relative;
	color: var(--secondcolor);
	display: flex;
	justify-content: center;
}

.copy
{
	display: flex;
	margin-top:1px;
	margin-left:3px;
	margin-right:3px;
	width: 20px;
	height: 20px;
	border-radius: 100px;
	background-color: white;
}

@media (max-width: 376px)
{
	ul
	{	
		list-style: none;
		display: inline-flex;
		float: right;
		font-size: 25.5px;
		padding-top: 8px;
		margin-right: -3px;
	}

	ul li a 
	{
	text-decoration: none;
	color : var(--secondcolor);
	margin-right: 0.1px;
	}

	.college
	{
		top: 26%;
	}

	.welcometext
	{
		margin-top:20px;
	}
	.name
	{
		margin-top: 40px;
	}

	.college
	{
		margin-top: 50px;
	}
}

@media (max-width: 415px)
{
	.bgcard
	{
		width: 80%;
		height: 300px;

	}

	.bgcard1
	{
		width: 80%;
		height: 300px;

	}

	.ltitle
	{
		display: none;
	}

	.hi
	{
		font-size: 90px;
	}

	.name
	{
		top: 20%;
	}
	.pname
	{
		font-size: 35px;
	}

	.welcometext

	{
		width: auto;
		top: 7%;
	}
	.college
	{
		top: 25%;
	}
	.pcollege
	{
		font-size: 20px;
	}

	.pcname
	{
		font-size: 20px;
	}
	.text2
	{
		top:400px;
		width: 100%;
		position: absolute;
		height: auto;
	}
	.edtext
	{
		text-align: right;
		font-size: 30px;
	}

	.highestgrad
	{
		margin-right: 10px;
		font-size: 20px;
		text-align: right;
		color: var(--secondcolor);
		float: right;
	}

	.currentgrad
	{
		margin-right: 10px;
		float: right;
		text-align: right;
		font-size: 20px;
		width: 100px;
		color: var(--secondcolor);
	}

	.text3
	{
		top:730px;
		width: 800px;
		position: absolute;
		height: auto;
	}

	.interests
	{
		width: 10%;
		height: auto;
		color: var(--secondcolor);
 		float: left;
	}
	.inttext
	{
		margin-left: 10px;
		float: left;
		font-size: 30px;
	}

	.intdesc
	{	
 		height: auto;
 		float: left;
	}

	.intdesctxt
	{
		margin-left: 10px;
		font-size: 20px;
		color: var(--secondcolor);
		float: right;
	}

	.text4
	{
		top:1000px;
		width: 800px;
		position: absolute;
		height: auto;
	}

	.skills
	{
		width: 10%;
		height: auto;
		color: var(--secondcolor);
 		float: right;
	}
	.skillh
	{
		margin-right: 10px;
		float: right;
		font-size: 30px;
	}

	.skilldesc
	{	
		margin-right:10px;
 		height: auto;
 		float: right;
	}

	.skilldesctxt
	{

		font-size: 20px;
		color: var(--secondcolor);
		float: right;
		text-align: right;	

	}

	.text5
	{
		top:1330px;
		width: 800px;
		position: absolute;
		height: auto;
	}

	.work
	{
		width: 10%;
		height: auto;
		color: var(--secondcolor);
 		float: left;
	}
	.workh
	{
		margin-left: 10px;
		float: left;
		font-size: 40px;
	}

	.workdesc
	{	
 		height: auto;
 		float: left;
	}

	.workdesctxt
	{
		margin-left: 10px;
		font-size: 20px;
		color: var(--secondcolor);
		float: left;

	}

	.bt
	{
		width: 150px;
		height: 50px;
		margin-left: 10px;
	}

	.demoindex
	{
		height: 1500px;
	}
}

@media(max-width: 1024px)
{
}

@media (max-width: 600px)
{
	.bgcard
	{
		width: 80%;
		height: 300px;

	}

	.bgcard1
	{
		width: 80%;
		height: 300px;

	}

	.ltitle
	{
		display: none;
	}

	.hi
	{
		font-size: 90px;
	}

	.name
	{
		top: 21%;
	}
	.pname
	{
		font-size: 35px;
	}

	.welcometext

	{
		width: auto;
		top: 7%;
	}
	.college
	{
		top: 27%;
	}
	.pcollege
	{
		font-size: 20px;
	}

	.pcname
	{
		font-size: 20px;
	}
	.text2
	{
		top:400px;
		width: 100%;
		position: absolute;
		height: auto;
	}
	.edtext
	{
		text-align: right;
		font-size: 30px;
	}

	.highestgrad
	{
		margin-right: 10px;
		font-size: 20px;
		text-align: right;
		color: var(--secondcolor);
		float: right;
	}

	.currentgrad
	{
		margin-right: 10px;
		float: right;
		text-align: right;
		font-size: 20px;
		width: 100px;
		color: var(--secondcolor);
	}

	.text3
	{
		top:730px;
		width: 800px;
		position: absolute;
		height: auto;
	}

	.interests
	{
		width: 10%;
		height: auto;
		color: var(--secondcolor);
 		float: left;
	}
	.inttext
	{
		margin-left: 10px;
		float: left;
		font-size: 30px;
	}

	.intdesc
	{	
 		height: auto;
 		float: left;
	}

	.intdesctxt
	{
		margin-left: 10px;
		font-size: 20px;
		color: var(--secondcolor);
		float: right;
	}

	.text4
	{
		top:1000px;
		width: 800px;
		position: absolute;
		height: auto;
	}

	.skills
	{
		width: 10%;
		height: auto;
		color: var(--secondcolor);
 		float: right;
	}
	.skillh
	{
		margin-right: 10px;
		float: right;
		font-size: 30px;
	}

	.skilldesc
	{	
		margin-right:10px;
 		height: auto;
 		float: right;
	}

	.skilldesctxt
	{

		font-size: 20px;
		color: var(--secondcolor);
		float: right;
		text-align: right;	

	}

	.text5
	{
		top:1330px;
		width: 800px;
		position: absolute;
		height: auto;
	}

	.work
	{
		width: 10%;
		height: auto;
		color: var(--secondcolor);
 		float: left;
	}
	.workh
	{
		margin-left: 10px;
		float: left;
		font-size: 40px;
	}

	.workdesc
	{	
 		height: auto;
 		float: left;
	}

	.workdesctxt
	{
		margin-left: 10px;
		font-size: 20px;
		color: var(--secondcolor);
		float: left;

	}

	.bt
	{
		width: 150px;
		height: 50px;
		margin-left: 10px;
	}

	.demoindex
	{
		height: 1500px;
	}
.video
{
	border: solid var(--secondcolor) 5px;
	width: auto;
	height: auto;
}


}


@keyframes animate 
{
	from {transform: scale(0,0);}
	to {transform: scale(1,1);}}
}

